<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PortStorageEntities"
            connectionString="Data Source=DATA-PROD\SQL2012;Initial Catalog=AppWorks;User ID=Appworx;Password=Chetu@123;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>