<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--<add name="PortalDbEntities" 
         connectionString="metadata=res://*/Edmx.Portal.csdl|res://*/Edmx.Portal.ssdl|res://*/Edmx.Portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=dai.diversifiedauto.com;initial catalog=Portal;user id=sa;password=72jG922441;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="PortStorageEntities" 
         connectionString="metadata=res://*/Edmx.PortStorageDb.csdl|res://*/Edmx.PortStorageDb.ssdl|res://*/Edmx.PortStorageDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=dai.diversifiedauto.com;initial catalog=PSdb;persist security info=True;user id=sa;password=72jG922441;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="PortalDbEntities" 
         connectionString="metadata=res://*/Edmx.Portal.csdl|res://*/Edmx.Portal.ssdl|res://*/Edmx.Portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=DAITRACKER3;initial catalog=Portal_Test;user id=sa;password=72jG922441;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="PortStorageEntities" 
         connectionString="metadata=res://*/Edmx.PortStorageDb.csdl|res://*/Edmx.PortStorageDb.ssdl|res://*/Edmx.PortStorageDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=DAITRACKER3;initial catalog=PSDB_Test;persist security info=True;user id=sa;password=72jG922441;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="On"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Log4NetLog"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="log\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net debug="true">
    <appender name="Application" type="log4net.Appender.FileAppender">
      <param name="File" value="log\application.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />-->
        <param name="ConversionPattern" value="%date  %-5level  - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.FileAppender">
      <param name="File" value="log\error.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />-->
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc]  - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    
    
    <!--Appender for log in PSDB-->
    <appender name="SqlLog" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <ReconnectOnError value="true"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=dai.diversifiedauto.com;initial catalog=PSdb_test;persist security info=True;user id=sa;password=72jG922441;" />
      <commandText value="INSERT INTO ErrorLog ([SystemMac],[DateTime],[Thread],[Level],[Logger],[Ndc],[Message]) VALUES (@mac,@Date, @thread, @level, @logger,@ndc, @message)" />
      <parameter>
        <parameterName value="@mac"/>
        <dbType value="String" />
        <size value="250" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{MacAddress}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" value="%-5level" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" >
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ndc" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" value="%ndc" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout">
          <conversionPattern value="%message"></conversionPattern>
        </layout>
      </parameter>

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
      </filter>
    </appender>
    <!--Appender for log in PSDB-->
    
    <root>
      <level value="INFO" />
      <appender-ref ref="ErrorLog" />
      <appender-ref ref="SqlLog" />
      <appender-ref ref="Application" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ServiceAuthBehaviorHttp">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <!--<add binding="basicHttpsBinding" scheme="https" />-->
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfiguration" />
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfiguration" closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite"
                 transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <reliableSession inactivityTimeout="infinite" enabled="true" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>