<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppWorks.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<appSettings>
     <add key="GridPageSize" value="3"/>
  </appSettings>-->
  <!--<geoSettings>
        <summary>
            <add key="GridPageSize" value="3"/>
        </summary>
    </geoSettings>-->
  <!--<appSettings>
    <add key="GridPageSize" value="3"/>
  </appSettings>-->
  <log4net debug="true">
    <appender name="Application" type="log4net.Appender.FileAppender">
      <param name="File" value="log\application.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />-->
        <param name="ConversionPattern" value="%date  %-5level  - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.FileAppender">
      <param name="File" value="log\error.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />-->
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc]  - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!--Appender for log in PSDB-->
    <!--<appender name="SqlLog" type="log4net.Appender.AdoNetAppender" >
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=dai.diversifiedauto.com;initial catalog=PSdb;persist security info=True;user id=sa;password=72jG922441;" />
      <commandText value="INSERT INTO ErrorLog ([SystemMac],[DateTime],[Thread],[Level],[Logger],[Ndc],[Message]) VALUES (@mac,@Date, @thread, @level, @logger,@ndc, @message)" />
      <parameter>
        <parameterName value="@mac"/>
        <dbType value="String" />
        <size value="250" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{MacAddress}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" value="%-5level" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" >
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ndc" />
        <dbType value="String" />
        <size value="1500" />
        <layout type="log4net.Layout.PatternLayout" value="%ndc" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout">
          <conversionPattern value="%message"></conversionPattern>
        </layout>
      </parameter>

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
      </filter>
    </appender>-->
    <!--Appender for log in PSDB-->

    <root>
      <level value="INFO" />
      <appender-ref ref="ErrorLog" />
      <appender-ref ref="SqlLog" />
      <appender-ref ref="Application" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomInspectorBehavior">
          <CustomInspectorBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="CustomInspectorBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CustomInspectorBehavior"
             type="AppWorks.WCFAuthentication.Lib.Behaviours.CustomInspectorBehaviorExtension, AppWorks.WCFAuthentication.Lib" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <!--<binding name="BasicHttpBinding_IAppWorksServices" closeTimeout="00:10:00" allowCookies="true"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" 
                 maxArrayLength="2147483647"
                 maxStringContentLength="2147483647"/>
        </binding>-->
        <binding name="WSHttpBinding_IAppWorksServices"  closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession inactivityTimeout="infinite" enabled="true" />
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:49471/AppWorksServices.svc"
        binding="wsHttpBinding" bindingConfiguration="BasicHttpBinding_IAppWorksServices"
        contract="AppService.IAppWorksServices" name="BasicHttpBinding_IAppWorksServices" />  -->
      <!--Server Release Machine address= http://192.168.1.33:2621/AppWorksServices.svc-->
      <!--Server Test Machine address= http://192.168.1.33:1710/AppWorksServices.svc-->
      <!--Local Machine address= http://localhost:49471/AppWorksServices.svc-->
      
      
      <endpoint address="http://192.168.1.33:1710/AppWorksServices.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAppWorksServices"
        contract="AppService.IAppWorksServices" behaviorConfiguration="CustomInspectorBehavior" name="WSHttpBinding_IAppWorksServices">
      </endpoint>
    </client>
  </system.serviceModel>
  
  <appSettings>
    <add key="CSVFilePath" value="C:\\Export\\" />
    <add key="MailingProcess" value="No" />
    <add key="GridPageSize" value="20" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FindUserGridPageSizeOnScroll" value="10" />
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="FromEmailId" value="chris@myappworx.com" />
    <add key="ToEmailId" value="chris@myappworx.com"/>
    <add key="Password" value="test" />
    <add key="Port" value="587" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="SessionLogoutTime" value="5" />
    <add key="CurrentApplicationVersion" value="1.0.0.11" />
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <applicationSettings>
    <AppWorks.UI.Properties.Settings>
      <setting name="LoggedInUserRole" serializeAs="String">
        <value />
      </setting>
      <setting name="LoggedInUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsUpdated" serializeAs="String">
        <value />
      </setting>
      <setting name="PageValue" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FindUserGridLastScrollOffset" serializeAs="String">
        <value />
      </setting>
      <setting name="FindUserGridCurrentPageIndex" serializeAs="String">
        <value />
      </setting>
    </AppWorks.UI.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>